<section id="bl-project-intro" class="project1">
			<div class="holder">
				<div class="wrapper">
					<h1>Telemedicine App <br>&amp;&nbsp;Web Platform</h1>
					<div class="text">
						<p>MD is&nbsp;a&nbsp;leading B2B platform that allows healthcare providers to&nbsp;communicate  with&nbsp;their patients, improve outcomes,  staff&nbsp;efficiency and&nbsp;the&nbsp;bottom line</p>
					</div>

					<ul class="tags">
						<li>Health &amp; Fitness</li>
						<li>iOS</li>
						<li>Backend</li>
						<li>Android</li>
						<li>Chat</li>
						<li>Video Calls</li>
						<li>UI/UX</li>
						<li>Native</li>
						<li>White-label</li>
					</ul>
				</div>
			</div>
		</section>

		<div id="bl-key-features">
			<div class="holder">
				<h2 class="h3">Core platform features</h2>

				<ul>
					<li>
						<div class="text one">
							<p>Appointment scheduling</p>
						</div>
					</li>
					<li>
						<div class="text two">
							<p>Video, audio or chat online visits</p>
						</div>
					</li>
					<li>
						<div class="text three">
							<p>Secure digital documents</p>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-benefits">
			<div class="holder narrow">
				<h2 class="h3">Telehealth mobile application</h2>

				<ul>
					<li>
						<ul>
							<li>
								<h4>Remote consultations</h4>
								<div class="text">
									<p>Patients can see and&nbsp;speak to&nbsp;a&nbsp;doctor by&nbsp;video or&nbsp;chat, enabling enough time to&nbsp;reflect upon and&nbsp;input all important information</p>
								</div>
							</li>
							<li>
								<h4>Online appointments</h4>
								<div class="text">
									<p>Patients can schedule appointments via mobile app &amp;&nbsp;web application with a&nbsp;specialist of&nbsp;their choice from anywhere in&nbsp;a&nbsp;few simple steps, 24/7</p>
								</div>
							</li>
							<li>
								<h4>Patient convenience</h4>
								<div class="text">
									<p>A user-friendly platform design provides patients a&nbsp;simple way to&nbsp;stay in&nbsp;touch with&nbsp;their clinitians, ideal for&nbsp;outpatient care and&nbsp;long term support</p>
								</div>
							</li>
						</ul>

						<div class="mobile">
							<img src="assets/images/mobile_application1_en.png" alt="Mobile app example 1">
						</div>
					</li>

					<li>
						<ul>
							<li>
								<h4>Patient triage</h4>
								<div class="text">
									<p>Allow patients to&nbsp;message your practice with&nbsp;a&nbsp;medical or&nbsp;admin query, respond directly in&nbsp;the&nbsp;product, and&nbsp;save everything to&nbsp;their record</p>
								</div>
							</li>
							<li>
								<h4>Digital documents</h4>
								<div class="text">
									<p>Securely send and&nbsp;recieve digital documents. GP’s can send advice at&nbsp;the&nbsp;end of&nbsp;a&nbsp;consultation or&nbsp;useful information before an&nbsp;appointment</p>
								</div>
							</li>
							<li>
								<h4>Accept payments</h4>
								<div class="text">
									<p>Allows patients to&nbsp;pay online upon booking or&nbsp;accept credit card or&nbsp;cash onsite through the&nbsp;POS custom feature and&nbsp;a&nbsp;range of&nbsp;payment processors</p>
								</div>
							</li>
						</ul>

						<div class="mobile">
							<img src="assets/images/mobile_application2_en.png" alt="Mobile app example 2">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-healthcare-organisations">
			<h2 class="h3">Turnkey healthcare solution</h2>
			<div class="wrapper">
				<div class="text">
					<p>A complete healthcare platform allows to&nbsp;seamlessly connect clinicians to&nbsp;their patients with&nbsp;full&nbsp;read/write back and&nbsp;patient medical records</p>
				</div>

				<div class="wrap">
					<div class="imac">
						<img src="assets/images/imac_screen_6_en.jpg" alt="" class="animated wow zoomInLight">
					</div>
				</div>
			</div>
		</div>

		<div id="bl-get-started">
			<div class="holder narrow">
				<h2 class="h3">Get started with 3&nbsp;simple steps</h2>

				<ol>
					<li>
						<h3>Partner with&nbsp;us</h3>
						<p>Complete the&nbsp;form below for&nbsp;a&nbsp;free consultation with&nbsp;our team. We will discuss your business &amp;&nbsp;operational needs and&nbsp;provide a&nbsp;quotation for&nbsp;a&nbsp;customised mobile solution</p>
					</li>
					<li>
						<h3>Spread the word</h3>
						<p>Spread the&nbsp;good news. Give your patients a&nbsp;convinient way to&nbsp;do frequent follow-ups, ask questions and&nbsp;get enhanced healthcare without leaving their home</p>
					</li>
					<li>
						<h3>Connect &amp; Treat</h3>
						<p>Give your patients more choice and&nbsp;flexibility by&nbsp;connecting them to&nbsp;their preferred clinicians remotely using video or&nbsp;text consultations. All they need is&nbsp;a&nbsp;phone, tablet or&nbsp;laptop</p>
					</li>
				</ol>
			</div>
		</div>

		<div id="bl-book">
			<div class="holder">
				<div class="wrapper">
					<h2 class="animated fadeInUpSmall wow">What are you waiting for?</h2>
					<div class="text animated fadeInUpSmall wow">
						<p>Tell us about your clinic and&nbsp;we’ll get back to&nbsp;you with details on&nbsp;how we can make this work. Or just ask us anything product related.</p>
					</div>

					<form action="#" method="post">
						<div class="line">
							<input type="text" name="name" maxlength="255" placeholder="Name">
							<input type="email" name="email" maxlength="255" placeholder="E-mail">
							<input type="tel" name="tel" maxlength="255" placeholder="Phone" data-multimask="true">
						</div>
						<div class="line">
							<textarea name="text" placeholder="Message"></textarea>						
						</div>
						<div class="law">I agree to the <a href="/files/Соглашение%20об%20использовании%20сервиса.pdf" target="_blank">MD Privacy Policy</a></div>
						<div class="btn-line"><input type="submit" name="submit_btn" value="Send" class="btn"></div>					
					</form>
				</div>
			</div>
		</div>