<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="favicon.ico?2">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/assets/images/browserconfig.xml">
    <meta name="theme-color" content="#00aba9">

    <meta property="og:title" content="MD - B2B medicine platform">
    <meta property="og:image" content="<%SITE_URL%>/assets/images/preview_en.jpg">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta name="description" property="og:description" content="<%META_DESCRIPTION%>" />
    <meta property="og:url" content="<%SITE_URL%>" />
    <meta property="og:site_name" content="MD - B2B medicine platform" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="<%META_DESCRIPTION%>" />
    <meta name="twitter:title" content="MD - B2B medicine platform" />
    <meta name="twitter:image" content="<%SITE_URL%>/assets/images/preview_en.jpg" />

    <title><%PAGE_TITLE%></title>
    <%META_VERIFICATION%>
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css<%VERSION%>"/>
    <%ANALYTICS%>
</head>

<body>
    <%METRIKA%>

    <div id="layout" class="en">
        <header>
            <div class="holder">
                <div class="wrap">
                    <a href="/" id="logo" class="animated fadeInDownSmall"><img src="/assets/images/logo_en.svg" alt="MD" title="MD"></a>

                    <%MN_MAIN%>
                    <a href="#bl-book"><button id="btn-feedback" class="btn animated fadeInDownSmall">CONTACT US</button></a>

                    <div id="mn-lang">
                        <ul>
                            <li><a href="#">Ру</a></li>
                            <li class="curr"><span>Eng</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>        

        <%CONTENT%>

        <footer>
            <div class="holder">
                <div class="wrap">
                    <ul id="bl-contacts">
                        <li>
                            <a href="mailto:<%EMAIL%>" class="email"><%EMAIL%></a>
                        </li>
                        <li>
                            <a href="tel:<%TEL%>" class="tel"><%TEL%></a>
                        </li>
                    </ul>

                    <div id="copyright">&copy; &nbsp;2021&nbsp;LLC&nbsp;«MD», INN:&nbsp;7704387734,  OGRN:&nbsp;1177746038690</div>

                    <div id="bl-app">
                        <a href="https://play.google.com/store/apps/details?id=com.moidoc.mydoctor&hl=en_US&gl=RU" target="_blank"><img src="/assets/images/btn_gp_en.png" alt="Google Play"></a>
                        <a href="https://apps.apple.com/ru/app/%D0%BC%D0%BE%D0%B9-%D0%B4%D0%BE%D0%BA%D1%82%D0%BE%D1%80-%D0%B2%D0%B0%D1%88-%D0%B2%D1%80%D0%B0%D1%87-%D0%BD%D0%B0-%D1%81%D0%B2%D1%8F%D0%B7%D0%B8/id1483050589?l=en" target="_blank"><img src="/assets/images/btn_as_en.png" alt="App Store"></a>
                    </div>  
                </div>      
            </div>
        </footer>
    </div>

    <div id="modal-fadeout"></div>

    <div class="modal-wrapper" id="modal-done">
        <div class="modal">
            <div class="contents">
                <div class="h1">Form sent. Thank&nbsp;you!</div>
                <button class="btn type2 close-btn">Ok</button>
            </div>
        </div>
    </div>

    <%CONSULTANT%>

    <script type="text/javascript" src="/assets/js/scripts.js<%VERSION%>"></script>
    <%SCRIPTS%>
</body>
</html>