<section id="bl-project-intro" class="project7">
			<div class="holder">
				<div class="wrapper">
					<h1>Marketing <br>Automation</h1>
					<div class="text">
						<p>MD’s patient marketing and&nbsp;relationship management software allows clinics to&nbsp;acquire, retain, and&nbsp;re-engage patients to&nbsp;increase retention &amp;&nbsp;decrease dropout</p>
					</div>

					<ul class="tags">
						<li>Health &amp; Fitness</li>
						<li>iOS</li>
						<li>Backend</li>
						<li>Android</li>
						<li>Chat</li>
						<li>Video Calls</li>
						<li>UI/UX</li>
						<li>Native</li>
						<li>White-label</li>
					</ul>
				</div>
			</div>
		</section>

		<div id="bl-key-features">
			<div class="holder">
				<h2 class="h3">Core platform features</h2>

				<ul>
					<li>
						<div class="text one">
							<p>Appointment scheduling</p>
						</div>
					</li>
					<li>
						<div class="text two">
							<p>Video, audio or chat online visits</p>
						</div>
					</li>
					<li>
						<div class="text three">
							<p>Secure digital documents</p>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-technology-screen" class="project7">
			<h2 class="h3">Marketing automation</h2>

			<div class="wrapper">
				<div class="holder">
					<div class="text">
						<p>MD provides a&nbsp;complete technology platform to&nbsp;take your services online and&nbsp;provide your patients with&nbsp;outstanding healthcare</p>
					</div>

					<div class="wrap">
						<div class="ipad">
							<img src="assets/images/marketing_ipad_screen_en.png" alt="" class="animated wow zoomInLight">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="bl-benefits">
			<div class="holder narrow">
				<h2 class="h3">Patient feedback</h2>

				<ul>
					<li>
						<ul>
							<li>
								<h4>Increase retention</h4>
								<div class="text">
									<p>Set up email &amp;&nbsp;text campaigns that deliver the&nbsp;right content to&nbsp;the&nbsp;right patient at&nbsp;the&nbsp;right time – increasing engagement and&nbsp;reducing dropout</p>
								</div>
							</li>
							<li>
								<h4>Manage reputation</h4>
								<div class="text">
									<p>The system automatically sends feedback requests via&nbsp;text or&nbsp;email straight after appointments so&nbsp;that&nbsp;patients can post their own review</p>
								</div>
							</li>
							<li>
								<h4>Interactive forms</h4>
								<div class="text">
									<p>A short form where the&nbsp;doctor asks questions to&nbsp;the&nbsp;patients, to&nbsp;understand the&nbsp;patient’s needs better helps generate more qualified leads</p>
								</div>
							</li>
						</ul>

						<div class="mobile">
							<img src="assets/images/mobile_marketing1_en.png" alt="Mobile marketing example">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-healthcare-organisations">
			<h2 class="h3">Healthcare dashboard</h2>
			<div class="wrapper">
				<div class="text">
					<p>Monitor your bookings, site visits, most popular service providers and&nbsp;services on&nbsp;any&nbsp;device, at&nbsp;any&nbsp;time, or&nbsp;from within the&nbsp;mobile admin app</p>
				</div>

				<div class="wrap">
					<div class="imac">
						<img src="assets/images/imac_screen7_en.jpg" alt="" class="animated wow zoomInLight">
					</div>
				</div>
			</div>
		</div>

		<div id="bl-get-started">
			<div class="holder narrow">
				<h2 class="h3">Get started with 3&nbsp;simple steps</h2>

				<ol>
					<li>
						<h3>Partner with&nbsp;us</h3>
						<p>Complete the&nbsp;form below for&nbsp;a&nbsp;free consultation with&nbsp;our team. We will discuss your business &amp;&nbsp;operational needs and&nbsp;provide a&nbsp;quotation for&nbsp;a&nbsp;customised mobile solution</p>
					</li>
					<li>
						<h3>Spread the word</h3>
						<p>Spread the&nbsp;good news. Give your patients a&nbsp;convinient way to&nbsp;do frequent follow-ups, ask questions and&nbsp;get enhanced healthcare without leaving their home</p>
					</li>
					<li>
						<h3>Connect &amp; Treat</h3>
						<p>Give your patients more choice and&nbsp;flexibility by&nbsp;connecting them to&nbsp;their preferred clinicians remotely using video or&nbsp;text consultations. All they need is&nbsp;a&nbsp;phone, tablet or&nbsp;laptop</p>
					</li>
				</ol>
			</div>
		</div>

		<div id="bl-book">
			<div class="holder">
				<div class="wrapper">
					<h2 class="animated fadeInUpSmall wow">What are you waiting for?</h2>
					<div class="text animated fadeInUpSmall wow">
						<p>Tell us about your clinic and&nbsp;we’ll get back to&nbsp;you with details on&nbsp;how we can make this work. Or just ask us anything product related.</p>
					</div>

					<form action="#" method="post">
						<div class="line">
							<input type="text" name="name" maxlength="255" placeholder="Name">
							<input type="email" name="email" maxlength="255" placeholder="E-mail">
							<input type="tel" name="tel" maxlength="255" placeholder="Phone" data-multimask="true">
						</div>
						<div class="line">
							<textarea name="text" placeholder="Message"></textarea>						
						</div>
						<div class="law">I agree to the <a href="/files/Соглашение%20об%20использовании%20сервиса.pdf" target="_blank">MD Privacy Policy</a></div>
						<div class="btn-line"><input type="submit" name="submit_btn" value="Send" class="btn"></div>					
					</form>
				</div>
			</div>
		</div>