<section id="bl-project-intro" class="project6">
			<div class="holder">
				<div class="wrapper">
					<h1>Smart Patient <br>Scheduling</h1>
					<div class="text">
						<p>MD’s online booking system allows patients to&nbsp;schedule online and&nbsp;face-to-face appointments&nbsp;24/7 with&nbsp;automatic text &amp;&nbsp;email reminders to&nbsp;clients to&nbsp;reduce no-shows</p>
					</div>

					<ul class="tags">
						<li>Health &amp; Fitness</li>
						<li>iOS</li>
						<li>Backend</li>
						<li>Android</li>
						<li>Chat</li>
						<li>Video Calls</li>
						<li>UI/UX</li>
						<li>Native</li>
						<li>White-label</li>
					</ul>
				</div>
			</div>
		</section>

		<div id="bl-key-features">
			<div class="holder">
				<h2 class="h3">Core platform features</h2>

				<ul>
					<li>
						<div class="text one">
							<p>Appointment scheduling</p>
						</div>
					</li>
					<li>
						<div class="text two">
							<p>Video, audio or chat online visits</p>
						</div>
					</li>
					<li>
						<div class="text three">
							<p>Secure digital documents</p>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-technology-screen" class="project6">
			<h2 class="h3">Online patient scheduling</h2>

			<div class="wrapper">
				<div class="holder">
					<div class="text">
						<p>MD’s web widget increases conversion by&nbsp;allowing patients to&nbsp;schedule appointments right from&nbsp;clinics’ website, social media profiles, or&nbsp;even through a&nbsp;link in&nbsp;the&nbsp;outgoing emails</p>
					</div>

					<div class="wrap">
						<div class="ipad">
							<img src="assets/images/widget_ipad_screen_en.png" alt="" class="animated wow zoomInLight">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="bl-benefits">
			<div class="holder narrow">
				<h2 class="h3">Mobile patient scheduling</h2>

				<ul>
					<li>
						<ul>
							<li>
								<h4>Accept online bookings</h4>
								<div class="text">
									<p>Patients can book their appointments via&nbsp;multiple channels like clinics’ website, mobile app, Facebook, Instagram or&nbsp;even Google Business Profile</p>
								</div>
							</li>
							<li>
								<h4>Reduce cancellations</h4>
								<div class="text">
									<p>Reduce cancellations and&nbsp;no-shows by&nbsp;as&nbsp;much as&nbsp;30% by&nbsp;sending patient appointment reminders via&nbsp;text, email, or&nbsp;mobile notifications</p>
								</div>
							</li>
							<li>
								<h4>Gather client information</h4>
								<div class="text">
									<p>Customised intake forms gather client information during the&nbsp;scheduling process. Client can set&nbsp;up texts &amp;&nbsp;digits, checkboxes or&nbsp;date responses</p>
								</div>
							</li>
						</ul>

						<div class="mobile">
							<img src="assets/images/mobile_widget1_en.png" alt="Mobile widget example 1">
						</div>
					</li>

					<li>
						<ul>
							<li>
								<h4>Accept online payments</h4>
								<div class="text">
									<p>Patients can enjoy a&nbsp;seamless experience all the&nbsp;way from&nbsp;scheduling a&nbsp;visit through client checkout through a&nbsp;range of&nbsp;payment processors</p>
								</div>
							</li>
							<li>
								<h4>Automate reporting</h4>
								<div class="text">
									<p>Customisable reports help monitor the&nbsp;business, identify and&nbsp;prevent problems, see ways for&nbsp;improvement, and&nbsp;support future growth</p>
								</div>
							</li>
							<li>
								<h4>Custom integrations &amp;&nbsp;API</h4>
								<div class="text">
									<p>Native integration with&nbsp;Facebook, Instagram, Google My Business, custom integrations with&nbsp;Wordpress and&nbsp;other relevant CMS systems</p>
								</div>
							</li>
						</ul>

						<div class="mobile">
							<img src="assets/images/mobile_widget2_en.png" alt="Mobile widget example 2">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-get-started">
			<div class="holder narrow">
				<h2 class="h3">Get started with 3&nbsp;simple steps</h2>

				<ol>
					<li>
						<h3>Partner with&nbsp;us</h3>
						<p>Complete the&nbsp;form below for&nbsp;a&nbsp;free consultation with&nbsp;our team. We will discuss your business &amp;&nbsp;operational needs and&nbsp;provide a&nbsp;quotation for&nbsp;a&nbsp;customised mobile solution</p>
					</li>
					<li>
						<h3>Spread the word</h3>
						<p>Spread the&nbsp;good news. Give your patients a&nbsp;convinient way to&nbsp;do frequent follow-ups, ask questions and&nbsp;get enhanced healthcare without leaving their home</p>
					</li>
					<li>
						<h3>Connect &amp; Treat</h3>
						<p>Give your patients more choice and&nbsp;flexibility by&nbsp;connecting them to&nbsp;their preferred clinicians remotely using video or&nbsp;text consultations. All they need is&nbsp;a&nbsp;phone, tablet or&nbsp;laptop</p>
					</li>
				</ol>
			</div>
		</div>

		<div id="bl-book">
			<div class="holder">
				<div class="wrapper">
					<h2 class="animated fadeInUpSmall wow">What are you waiting for?</h2>
					<div class="text animated fadeInUpSmall wow">
						<p>Tell us about your clinic and&nbsp;we’ll get back to&nbsp;you with details on&nbsp;how we can make this work. Or just ask us anything product related.</p>
					</div>

					<form action="#" method="post">
						<div class="line">
							<input type="text" name="name" maxlength="255" placeholder="Name">
							<input type="email" name="email" maxlength="255" placeholder="E-mail">
							<input type="tel" name="tel" maxlength="255" placeholder="Phone" data-multimask="true">
						</div>
						<div class="line">
							<textarea name="text" placeholder="Message"></textarea>						
						</div>
						<div class="law">I agree to the <a href="/files/Соглашение%20об%20использовании%20сервиса.pdf" target="_blank">MD Privacy Policy</a></div>
						<div class="btn-line"><input type="submit" name="submit_btn" value="Send" class="btn"></div>					
					</form>
				</div>
			</div>
		</div>