<section id="bl-project-intro" class="project1">
			<div class="holder">
				<div class="wrapper">
					<h1>Мобильное <br>приложение</h1>
					<div class="text">
						<p>Не теряйте дополнительный доход и&nbsp;пациентов. Платформа Мой Доктор позволит вашей клинике законно оказывать телемедицинские услуги.</p>
					</div>

					<ul class="tags">
						<li>Телемедицина</li>
						<li>iOS</li>
						<li>Чат</li>
						<li>Android</li>
						<li>Оплата</li>
						<li>Видео-звонок</li>
						<li>Онлайн-прием</li>
						<li>Брендирование</li>
					</ul>
				</div>
			</div>
		</section>

		<div id="bl-key-features">
			<div class="holder">
				<h2 class="h3">Зачем это моей клинике?</h2>

				<ul>
					<li>
						<div class="text one">
							<p>Больше повторных визитов</p>
						</div>
					</li>
					<li>
						<div class="text two">
							<p>Больше  прибыли с пациентов</p>
						</div>
					</li>
					<li>
						<div class="text three">
							<p>Экономия расходов на маркетинг</p>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-benefits">
			<div class="holder narrow">
				<h2 class="h3">Телемедицина в мобильном приложении</h2>

				<ul>
					<li>
						<ul>
							<li>
								<h4>Больше повторных визитов</h4>
								<div class="text">
									<p>Онлайн запись в&nbsp;приложении привлекает новых пациентов, а&nbsp;напоминания снижают число пропущенных приемов</p>
								</div>
							</li>
							<li>
								<h4>Кабинет доктора</h4>
								<div class="text">
									<p>Доктора проводят онлайн приёмы пациентов в&nbsp;мобильном приложении или&nbsp;личном web-кабинете доктора</p>
								</div>
							</li>
							<li>
								<h4>Экономия средств</h4>
								<div class="text">
									<p>Стоимость использования готового решения в&nbsp;5-6 раз меньше, чем разработка собственного мобильного приложения</p>
								</div>
							</li>
						</ul>

						<div class="mobile">
							<img src="assets/images/mobile_application1.png" alt="Mobile app example 1">
						</div>
					</li>

					<li>
						<ul>
							<li>
								<h4>Доктор на связи</h4>
								<div class="text">
									<p>Ваши пациенты всегда смогут поддерживать связь с&nbsp;доктором, что приносит клинике и&nbsp;докторам дополнительный доход</p>
								</div>
							</li>
							<li>
								<h4>Мобильная регистратура</h4>
								<div class="text">
									<p>Запись к&nbsp;врачу через приложение, напоминание о&nbsp;записи для врачей и&nbsp;пациентов через смс напоминания и&nbsp;push-уведомления</p>
								</div>
							</li>
							<li>
								<h4>Электронная очередь</h4>
								<div class="text">
									<p>Докторов часто отвлекают по&nbsp;телефону и&nbsp;в&nbsp;мессенджерах, мы поможем выстроить обращения в&nbsp;простой и&nbsp;понятный список</p>
								</div>
							</li>
						</ul>

						<div class="mobile">
							<img src="assets/images/mobile_application2.png" alt="Mobile app example 2">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-healthcare-organisations">
			<h2 class="h3">Готовое решение для вашей клиники</h2>
			<div class="wrapper">
				<div class="text">
					<p>Цифровая платформа Мой Доктор имеет  <br>все необходимое для систематической работы по&nbsp;повышению лояльности</p>
				</div>

				<div class="wrap">
					<div class="imac">
						<img src="assets/images/imac_screen_6.jpg" alt="" class="animated wow zoomInLight">
					</div>
				</div>
			</div>
		</div>

		<div id="bl-get-started">
			<div class="holder narrow">
				<h2 class="h3">Подключите медцентр в три простых шага</h2>

				<ol>
					<li>
						<h3>Запишитесь на демонстрацию</h3>
						<p>Мы с радостью покажем все возможности платформы на онлайн демонстрации или при личной встрече. Спросите нашего представителя и он проведет вас шаг за шагом</p>
					</li>
					<li>
						<h3>Настройте рабочий процесс</h3>
						<p>Наша команда обучит докторов и администраторов работать в системе, предоставит необходимые материалы, а также сопроводит первые 30 дней работы</p>
					</li>
					<li>
						<h3>Расскажите своим пациентам</h3>
						<p>Поделитесь информацией о новых возможностях. Мы подготовили необходимые материалы, включая: полиграфию, электронные письма, сообщения для социальных сетей и СМС</p>
					</li>
				</ol>
			</div>
		</div>

		<div id="bl-book">
			<div class="holder">
				<div class="wrapper">
					<h2 class="animated fadeInUpSmall wow">Чего же вы ждете?</h2>
					<div class="text animated fadeInUpSmall wow">
						<p>Оставьте заявку в форме, и мы свяжемся с вами, чтобы договориться об оформлении и бесплатном обучении врачей вашей клиники</p>
					</div>

					<form action="#" method="post">
						<div class="line">
							<input type="text" name="name" maxlength="255" placeholder="Имя">
							<input type="email" name="email" maxlength="255" placeholder="E-mail">
							<input type="tel" name="tel" maxlength="255" placeholder="Телефон" data-multimask="true">
						</div>
						<div class="line">
							<textarea name="text" placeholder="Сообщение"></textarea>						
						</div>
						<div class="law">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</div>
						<div class="btn-line"><input type="submit" name="submit_btn" value="Отправить" class="btn"></div>					
					</form>
				</div>
			</div>
		</div>