<section id="blog-statue" itemscope itemtype="http://schema.org/Article">
			<div class="holder" itemprop="articleBody">
				<h1 class="animated fadeInUpSmall wow" itemprop="headline"><%TITLE%></h1>

				<div class="info animated fadeInUpSmall wow delay-02s"><span itemprop="datePublished"><%DATE%></span> EDT</div>
				
				<div class="main-photo">
					<img src="<%IMAGE%>" alt="<%ALT%>" title="<%ALT%>"  itemprop="image">
				</div>

				<%ANNOUNCE%>
			</div>

			<div class="holder narrow">
				<%CONTENT%>
			</div>

			<div class="holder narrow">
				<%TAGS%>

				<div class="ss" id="social-shares" data-share-title="<%SHARETITLE%>" data-share-url="<%SHAREURL%>" data-share-image="<%SHAREIMAGE%>" data-share-description="<%SHARETEXT%>">
					<div class="h6">Share</div>
					<ul>
						<li class="fb"><a href="#" target="_blank" rel="nofollow" data-api-url="https://www.facebook.com/sharer.php?p[url]=%url%&p[title]=%title%&p[summary]=%decsription%&p[images][0]=%image%"><img src="assets/images/ico_fb2.svg" alt="Share" title="Share">Facebook</a></li>
						<li class="tw"><a href="#" target="_blank" rel="nofollow" data-api-url="https://twitter.com/share?url=%url%&text=%description%"><img src="assets/images/ico_tw2.svg" alt="Tweet" title="Tweet">Twitter</a></li>
						<li class="in"><a href="#" target="_blank" rel="nofollow" data-api-url="https://www.linkedin.com/shareArticle?mini=true&url=%url%&title=%title%&summary=%description%&source=%source%"><img src="assets/images/ico_in2.svg" alt="LinkedIn" title="LinkedIn">Linkedin</a></li>
					</ul>
				</div>
			</div>

			<div class="holder">
				<%SUBSCRIBE%>

				<!--
				<div id="statues-list">
					<div class="h6">Next up in Commerce</div>

					<ul>
						<li class="inversed">
							<div class="wrapper">
								<a href="statue.html"><img src="assets/images/statue6.jpg" alt="How to Create an Effective eCommerce App" title="How to Create an ffective eCommerce App"></a>
								<h3 class="animated fadeInUpSmall wow"><a href="statue.html">How to Create an Effective eCommerce App</a></h3>
								<div class="date animated fadeInUpSmall wow">June 6, 2020</div>
								<div class="tag animated fadeInUpSmall wow">commerce</div>
							</div>
						</li>
						<li>
							<div class="wrapper">
								<a href="statue.html"><img src="assets/images/statue7.jpg" alt="Valorant May Not Need Casual Players To Become A Massive Hit" title="Valorant May Not Need Casual Players To Become A Massive Hit"></a>
								<h3 class="animated fadeInUpSmall wow delay-02s"><a href="statue.html">Valorant May Not Need Casual Players To Become A Massive Hit</a></h3>
								<div class="date animated fadeInUpSmall wow">June 6, 2020</div>
								<div class="tag animated fadeInUpSmall wow">commerce</div>
							</div>
						</li>
						<li>
							<div class="wrapper">
								<a href="statue.html"><img src="assets/images/statue8.jpg" alt="How to Create an Effective eCommerce App" title="How to Create an Effective eCommerce App"></a>
								<h3 class="animated fadeInUpSmall wow"><a href="statue.html">How to Create an Effective eCommerce App</a></h3>
								<div class="date animated fadeInUpSmall wow">June 6, 2020</div>
								<div class="tag animated fadeInUpSmall wow">commerce</div>
							</div>
						</li>
					</ul>

					<div class="btn-line">
						<button class="btn type2">Show more</button>
					</div>
				</div>
			-->
			</div>
		</section>