        <section id="bl-welcome">
            <div class="holder">
                <h1 class="animated fadeInUpSmall wow">Apps, Websites &amp;&nbsp;Branding</h1>
                <p class="animated fadeInUpSmall wow delay-03s">We develop mobile &amp; web products that delight your users and grow your business</p>
            </div>
        </section>

        <div id="bl-projects">
            <div class="holder">
                <ul>
                    <li class="project1">
                        <div class="wrapper">
                            <h2 class="animated fadeInUpSmall wow">Telemedicine App <br class="not-mobile">&amp; Web Platform</h2>
                            <p class="animated fadeInUpSmall wow delay-03s">Allow patients to&nbsp;contact your GP online to&nbsp;increase revenue and patient satisfaction</p>
                            <a href="<%LINK1%>" class="animated fadeIn wow delay-05s"><button class="btn">Read more</button></a>
                        </div>
                    </li>
                    <li class="project4">
                        <div class="wrapper">
                            <h2 class="animated fadeInUpSmall wow">Smart Patient Scheduling</h2>
                            <p class="animated fadeInUpSmall wow delay-03s">Online bookings 24/7 to&nbsp;increase patient flow</p>
                            <a href="<%LINK2%>" class="animated fadeIn wow delay-05s" rel="nofollow"><button class="btn">Read more</button></a>
                        </div>
                    </li>
                    <li class="project5">
                        <div class="wrapper">
                            <h2 class="animated fadeInUpSmall wow">GP Marketing  Management</h2>
                            <p class="animated fadeInUpSmall wow delay-03s">Retain & re-engage patients to improve bottom line</p>
                            <a href="<%LINK3%>" class="animated fadeIn wow delay-05s" rel="nofollow"><button class="btn">Read more</button></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="bl-process">
            <div class="holder">
                <h2 class="animated fadeInUpSmall wow">Our Process</h2>
                <div class="text animated fadeInUpSmall wow delay-03s">
                    <p>A strategic and tactical approach is essential for achieving long-term goals. Our process is designed to give you the best shot at success.</p>
                </div>

                <ol>
                    <li class="step1">
                        <div class="illustration animated fadeIn wow">
                            <img src="assets/images/process_step1.svg" alt="Research" title="Research">
                        </div>
                        <h3 class="animated fadeInUpSmall wow">Research</h3>
                        <p class="animated fadeInUpSmall wow delay-03s">Each project starts with an intense user & market research that ends with empirical validation with the client.</p>
                    </li>
                    <li class="step2">
                        <div class="illustration animated fadeIn wow">
                            <img src="assets/images/process_step2.svg" alt="Design" title="Design">
                        </div>
                        <h3 class="animated fadeInUpSmall wow">Design</h3>
                        <p class="animated fadeInUpSmall wow dealy-03s">Work with our visual designers to create an elegant design that incorporates the latest trends and platform capabilities.</p>
                    </li>
                    <li class="step3">
                        <div class="illustration animated fadeIn wow">
                            <img src="assets/images/process_step3.svg" alt="Development" title="Development">
                        </div>
                        <h3 class="animated fadeInUpSmall wow">Development</h3>
                        <p class="animated fadeInUpSmall wow delay-03s">Our scrum-based Agile development methodology ensures frequent builds and gives you plenty of time to test and adjust.</p>
                    </li>
                </ol>
            </div>
        </div>

        <div id="bl-services">
            <div class="holder">
                <h2 class="animated fadeInUpSmall wow">Our Services</h2>
                <div class="text animated fadeInUpSmall wow delay-03s">
                    <p>A full-stack team of experts ready to tackle the most complex puzzles when it comes to web and mobile apps development.</p>
                </div>

                <ul>
                    <li class="service1 animated fadeInUpSmall wow">
                        <div class="wrapper">Mobile applications development</div>
                    </li>
                    <li class="service2 animated fadeInUpSmall wow delay-02s">
                        <div class="wrapper">Web application <br>and&nbsp;API development</div>
                    </li>
                    <li class="service3 animated fadeInUpSmall wow delay-04s">
                        <div class="wrapper">User Experience <br>research</div>
                    </li>
                    <li class="service4 animated fadeInUpSmall wow">
                        <div class="wrapper">User Experience &amp;&nbsp;Interface Design</div>
                    </li>
                    <li class="service5 animated fadeInUpSmall wow delay-02s">
                        <div class="wrapper">Strategy <br>and branding</div>
                    </li>
                    <li class="service6 animated fadeInUpSmall wow delay-04s">
                        <div class="wrapper">Consulting <br>and&nbsp;support</div>
                    </li>
                </ul>
            </div>
        </div>

        <%BL_STATUES%>