<div id="bl-statues">
            <div class="holder">
                <h2 class="animated fadeInUpSmall wow">Our Blog</h2>
                <div class="text animated fadeInUpSmall wow delay-03s">
                    <p>We share useful thoughts on app development and&nbsp;design</p>
                </div>

                <div class="wrap">
                    <ul class="js-slider" data-adaptive="true" data-arrows="true" data-dots="false" data-infinite="true">
                        <%CONTENT%>
                    </ul>
                </div>
            </div>
        </div>