<section id="bl-project-intro" class="project2">
			<div class="holder">
				<div class="wrapper">
					<div class="type">telecommunications</div>
					<h1>Mobile Telecom</h1>
					<div class="text">
						<p>Our team has created an app for telecom operator clients to manage their SIM-card account and control data traffic usage in a convenient and user-friendly way, as well as providing access to free international calls to fixed line and mobile numbers.</p>
					</div>

					<ul class="tags">
						<li>Calls</li>
						<li>Communication</li>
						<li>Statistics</li>
						<li>Account</li>
						<li>Android</li>
						<li>Backend,UX/UI</li>
						<li>Native</li>
						<li>SMS</li>
					</ul>
				</div>
			</div>
		</section>

		<div id="project-info">
			<div class="holder narrow">
				<blockquote class="review">
					<q>«The team at rbbr duck greatly executed all my ideas, and they also offered their own. The app turned out to be even better than I imagined and I’ve received great feedback from  our users»</q>
					<div class="summary">
						<img src="assets/images/_review2.jpg?2" alt="Elizabeth F." title="Elizabeth F." class="photo">
						<author>Elizabeth F. <span>CEO</span></author>
					</div>
				</blockquote>

				<div class="taskpoint">
					<div class="col">
						<h2>Idea</h2>
						<div class="text">
							<p>The main goal of this project was to help mobile operator customers to control their account, including data traffic usage, rapid balance recharge. The app should also provide a convenient solution for users to make international voice calls.</p>
						</div>
					</div>
					<div class="col">
						<h2>Process</h2>
						<div class="text">
							<p>Our team took on the job of market research, visual design and development. We have worked through dozens of concepts to come up with a clean and efficient design for the mobile app. We were able to build iOS and Android versions within just 2 months.</p>
						</div>
					</div>
				</div>

				<div class="desc project2">
					<div class="item item1">
						<h2>International calls</h2>
						<p>Our voice call APIs create new lines of communication through VoIP & SIP integration for clear voice communication.</p>
						<p>Make free international voice calls from the app to landline and mobile numbers.</p>
					</div>
					<div class="item item2">
						<h2>Internet and tariffs</h2>
						<p>The client can access tariffs for internet data and calls inside the app, as well as traffic usage for the period. </p>
						<p>Accounts can be topped-up with a credit card in a matter of seconds.</p>
					</div>
				</div>

				<!--
				<div id="check-it">
					<h3 class="h4">Check it out in</h3>
					<ul>
						<li><a href="https://clc.to/android_web" target="_blank" class="gp">Google Play</a></li>
						<li><a href="https://clc.to/ios_web" target="_blank" class="as">App Store</a></li>
						<li><a href="#" target="_blank" class="wa">WebApp</a></li>
					</ul>
				</div>
			-->
			</div>
		</div>

		<div id="bl-projects" class="bl-related">
			<div class="holder">
				<h2 class="h4">Related projects</h2>

				<ul>
					<li class="project1">
						<div class="wrapper">
							<h2 class="animated fadeInUpSmall wow">Mobile<br>Application<br>&amp;&nbsp;Web Platform</h2>
							<p class="animated fadeInUpSmall wow delay-03s">Increase patient satisfaction, reduce costs, and improve the bottom line</p>
							<a href="<%LINK1%>" class="animated fadeIn wow delay-05s"><button class="btn">Read more</button></a>
						</div>
					</li>
					<li class="project3">
						<div class="wrapper">
							<h2 class="animated fadeInUpSmall wow">SMS <br>Cashback</h2>
							<p class="animated fadeInUpSmall wow delay-03s">Cashback app <br>for&nbsp;selling <br>unused SMS</p>
							<a href="<%LINK3%>" class="animated fadeIn wow delay-05s" rel="nofollow"><button class="btn">Read more</button></a>
						</div>
					</li>
				</ul>
			</div>
		</div>