<section id="bl-project-intro" class="project3">
			<div class="holder">
				<div class="wrapper">
					<div class="type">telecommunications</div>
					<h1>SMS <br>Cashback</h1>
					<div class="text">
						<p>We have created a cashback app that rewards its users for selling unused SMS messages. This opens the door to worldwide mobile carrier subscribers to make mobile communication more affordable and rewarding.</p>
					</div>

					<ul class="tags">
						<li>Communication</li>
						<li>Cashback</li>
						<li>Statistics</li>
						<li>Wallet</li>
						<li>Android</li>
						<li>Backend,UX/UI</li>
						<li>Native</li>
						<li>SMS</li>
					</ul>
				</div>
			</div>
		</section>

		<div id="project-info">
			<div class="holder narrow">
				<blockquote class="review">
					<q>«Their flexibility in handling changing requirements during the project impressed us. Project management was also very good: professional and fast. Solution delivered allows for improved customer experience, quality control and better reliability»</q>
					<div class="summary">
						<img src="assets/images/_review3.jpg?1" alt="Michael K." title="Michael K." class="photo">
						<author>Michael K. <span>Founder & CEO</span></author>
					</div>
				</blockquote>

				<div class="taskpoint">
					<div class="col">
						<h2>Idea</h2>
						<div class="text">
							<p>The main goal was to help mobile users get the most value out of their mobile plans by allowing them to sell their unused SMS messages. The solution our team came up with makes mobile communication cheaper and more convenient for the customer.</p>
						</div>
					</div>
					<div class="col">
						<h2>Process</h2>
						<div class="text">
							<p>Our process was focused on identifying easy acquisition flows, generating value early to retain users, and building a solid infrastructure for scalability essential for such projects. The development team was then able to release the MVP version in a month.</p>
						</div>
					</div>
				</div>

				<div class="desc project3">
					<div class="item item1">
						<h2>Statistics & tracking</h2>
						<p>Clear and informative statistics lets users better track passive income and keep enough messages for emergency purposes.</p>
						<p>We believe that cashback apps should be easy to use and honest with their users.</p>
					</div>
				</div>

				<!--
				<div id="check-it">
					<h3 class="h4">Check it out in</h3>
					<ul>
						<li><a href="https://clc.to/android_web" target="_blank" class="gp">Google Play</a></li>
						<li><a href="https://clc.to/ios_web" target="_blank" class="as">App Store</a></li>
						<li><a href="#" target="_blank" class="wa">WebApp</a></li>
					</ul>
				</div>
			-->
			</div>
		</div>

		<div id="bl-projects" class="bl-related">
			<div class="holder">
				<h2 class="h4">Related projects</h2>

				<ul>
					<li class="project1">
						<div class="wrapper">
							<h2 class="animated fadeInUpSmall wow">Mobile <br>Application<br>&amp;&nbsp;Web Platform</h2>
							<p class="animated fadeInUpSmall wow delay-03s">Increase patient satisfaction, reduce costs, and improve the bottom line</p>
							<a href="<%LINK1%>" class="animated fadeIn wow delay-05s"><button class="btn">Read more</button></a>
						</div>
					</li>
					<li class="project2">
						<div class="wrapper">
							<h2 class="animated fadeInUpSmall wow">Mobile&nbsp;Telecom</h2>
							<p class="animated fadeInUpSmall wow delay-03s">Free international calls <br>and&nbsp;internet</p>
							<a href="<%LINK2%>" class="animated fadeIn wow delay-05s" rel="nofollow"><button class="btn">Read more</button></a>
						</div>
					</li>
				</ul>
			</div>
		</div>