<section id="bl-project-intro" class="project7">
			<div class="holder">
				<div class="wrapper">
					<h1>Автоматизация <br>маркетинга</h1>
					<div class="text">
						<p>Мой Доктор позволяет объединить различные базы клиентов и каналы коммуникации в единой платформе для работы по повышению лояльности.</p>
					</div>

					<ul class="tags">
						<li>Рассылки</li>
						<li>СМС</li>
						<li>e-mail</li>
						<li>Push</li>
						<li>Оценки</li>
						<li>Опросы</li>
						<li>Лояльность</li>
						<li>Платформа</li>
					</ul>
				</div>
			</div>
		</section>

		<div id="bl-key-features">
			<div class="holder">
				<h2 class="h3">Зачем это моей клинике?</h2>

				<ul>
					<li>
						<div class="text one">
							<p>Больше повторных визитов</p>
						</div>
					</li>
					<li>
						<div class="text two">
							<p>Больше  прибыли с пациентов</p>
						</div>
					</li>
					<li>
						<div class="text three">
							<p>Экономия расходов на маркетинг</p>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-technology-screen" class="project7">
			<h2 class="h3">Маркетинговые рассылки</h2>

			<div class="wrapper">
				<div class="holder">
					<div class="text">
						<p>Платформа Мой Доктор позволяет отправлять таргетированные рассылки пациентам (акции,новости, опросы, сообщения в чат)</p>
					</div>

					<div class="wrap">
						<div class="ipad">
							<img src="assets/images/marketing_ipad_screen.png" alt="" class="animated wow zoomInLight">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="bl-benefits">
			<div class="holder narrow">
				<h2 class="h3">Обратная связь пациентов</h2>

				<ul>
					<li>
						<ul>
							<li>
								<h4>Платформа клиентов</h4>
								<div class="text">
									<p>Единый профиль клиента, сегментация аудитории, пользовательские сценарии и отчеты по компаниям</p>
								</div>
							</li>
							<li>
								<h4>Тригерные рассылки</h4>
								<div class="text">
									<p>Отправляйте таргетированные рассылки пациентам по SMS, электронной почте или в мобильном приложении</p>
								</div>
							</li>
							<li>
								<h4>Персональные рассылки</h4>
								<div class="text">
									<p>Персонифицированное взаимодействие с вашими пациентами на основании статуса и этапа плана лечения</p>
								</div>
							</li>
						</ul>

						<div class="mobile">
							<img src="assets/images/mobile_marketing1.png" alt="Mobile marketing example">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-healthcare-organisations">
			<h2 class="h3">Автоматическая отчетность и аналитика</h2>
			<div class="wrapper">
				<div class="text">
					<p>Полная аналитика по количеству записей на очный прием, онлайн консультаций и дополнительного дохода клиники посредством телемедицины</p>
				</div>

				<div class="wrap">
					<div class="imac">
						<img src="assets/images/imac_screen7.jpg" alt="" class="animated wow zoomInLight">
					</div>
				</div>
			</div>
		</div>

		<div id="bl-get-started">
			<div class="holder narrow">
				<h2 class="h3">Подключите медцентр в три простых шага</h2>

				<ol>
					<li>
						<h3>Запишитесь на демонстрацию</h3>
						<p>Мы с радостью покажем все возможности платформы на онлайн демонстрации или при личной встрече. Спросите нашего представителя и он проведет вас шаг за шагом</p>
					</li>
					<li>
						<h3>Настройте рабочий процесс</h3>
						<p>Наша команда обучит докторов и администраторов работать в системе, предоставит необходимые материалы, а также сопроводит первые 30 дней работы</p>
					</li>
					<li>
						<h3>Расскажите своим пациентам</h3>
						<p>Поделитесь информацией о новых возможностях. Мы подготовили необходимые материалы, включая: полиграфию, электронные письма, сообщения для социальных сетей и СМС</p>
					</li>
				</ol>
			</div>
		</div>

		<div id="bl-book">
			<div class="holder">
				<div class="wrapper">
					<h2 class="animated fadeInUpSmall wow">Чего же вы ждете?</h2>
					<div class="text animated fadeInUpSmall wow">
						<p>Оставьте заявку в форме, и мы свяжемся с вами, чтобы договориться об оформлении и бесплатном обучении врачей вашей клиники</p>
					</div>

					<form action="#" method="post">
						<div class="line">
							<input type="text" name="name" maxlength="255" placeholder="Имя">
							<input type="email" name="email" maxlength="255" placeholder="E-mail">
							<input type="tel" name="tel" maxlength="255" placeholder="Телефон" data-multimask="true">
						</div>
						<div class="line">
							<textarea name="text" placeholder="Сообщение"></textarea>						
						</div>
						<div class="law">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</div>
						<div class="btn-line"><input type="submit" name="submit_btn" value="Отправить" class="btn"></div>					
					</form>
				</div>
			</div>
		</div>