<div id="bl-subscribe">
						<h2 class="animated fadeInUpSmall wow"><%TITLE%></h2>
						<%TEXT%>

						<form action="/ajax--act-Subscribe/" method="post">
							<div class="line">
								<input type="text" name="name" maxlength="255" placeholder="Name">
								<input type="email" name="email" maxlength="255" placeholder="E-mail">
								<input type="submit" name="submit_btn" value="Send" class="btn">
								<input type="hidden" name="code" value="<%CODE%>">
							</div>
						</form>
					</div>