<section id="bl-project-intro" class="project6">
			<div class="holder">
				<div class="wrapper">
					<h1>Виджет онлайн <br>записи</h1>
					<div class="text">
						<p>Подключите клинику к&nbsp;цифровой платформе Мой Доктор. Мы создали её в&nbsp;соответствии с&nbsp;законами РФ, с&nbsp;заботой о&nbsp;пациентах для достижения целей вашего бизнеса.</p>
					</div>

					<ul class="tags">
						<li>Онлайн-запись</li>
						<li>24/7</li>
						<li>ДМС</li>
						<li>Телефон</li>
						<li>Оплата</li>
						<li>Напоминания</li>
						<li>Конверсия</li>
						<li>Брендирование</li>
					</ul>
				</div>
			</div>
		</section>

		<div id="bl-key-features">
			<div class="holder">
				<h2 class="h3">Зачем это моей клинике?</h2>

				<ul>
					<li>
						<div class="text one">
							<p>Больше повторных визитов</p>
						</div>
					</li>
					<li>
						<div class="text two">
							<p>Больше  прибыли с&nbsp;пациентов</p>
						</div>
					</li>
					<li>
						<div class="text three">
							<p>Экономия расходов на&nbsp;маркетинг</p>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-technology-screen">
			<h2 class="h3">Онлайн запись пациентов</h2>

			<div class="wrapper">
				<div class="holder">
					<div class="text">
						<p>Виджет онлайн-записи пациентов на&nbsp;сайте клиники повышает конверсию с&nbsp;сайта снижая затраты на&nbsp;колл-центр</p>
					</div>

					<div class="wrap">
						<div class="ipad">
							<img src="assets/images/widget_ipad_screen.png" alt="" class="animated wow zoomInLight">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="bl-benefits">
			<div class="holder narrow">
				<h2 class="h3">Виджет онлайн записи</h2>

				<ul>
					<li>
						<ul>
							<li>
								<h4>Повышение конверсии</h4>
								<div class="text">
									<p>на 36% выше конверсия в&nbsp;очный прием пациентов с&nbsp;сайта клиники записавшихся  через виджет платформы Мой Доктор</p>
								</div>
							</li>
							<li>
								<h4>Больше записей</h4>
								<div class="text">
									<p>на 30% больше онлайн записей на&nbsp;онлайн и&nbsp;очный прием сделанных в&nbsp;нерабочее время через виджет платформы Мой Доктор</p>
								</div>
							</li>
							<li>
								<h4>Снижение затрат</h4>
								<div class="text">
									<p>до 23% снижение затрат на&nbsp;прием и&nbsp;обработку заявок от&nbsp;новых пациентов через колл-центр или администраторов</p>
								</div>
							</li>
						</ul>

						<div class="mobile">
							<img src="assets/images/mobile_widget1.png" alt="Mobile widget example 1">
						</div>
					</li>

					<li>
						<ul>
							<li>
								<h4>Оплата приемов</h4>
								<div class="text">
									<p>Оплата онлайн и&nbsp;оффлайн приемов, а&nbsp;также вызова доктора на&nbsp;дом доступна в&nbsp;виджете записи прямо на&nbsp;сайте клиники</p>
								</div>
							</li>
							<li>
								<h4>Мобильная версия</h4>
								<div class="text">
									<p>Мобильная версия виджета доступна  на&nbsp;сайте клиники и&nbsp;полноcтью  соответствует обычной web-версии</p>
								</div>
							</li>
							<li>
								<h4>Выделенные слоты</h4>
								<div class="text">
									<p>Выделенные страховые слоты в&nbsp;расписании, детские доктора, повторые примы и&nbsp;многое другое доступно в&nbsp;виджете</p>
								</div>
							</li>
						</ul>

						<div class="mobile">
							<img src="assets/images/mobile_widget2.png" alt="Mobile widget example 2">
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div id="bl-get-started">
			<div class="holder narrow">
				<h2 class="h3">Подключите медцентр в&nbsp;три простых шага</h2>

				<ol>
					<li>
						<h3>Запишитесь на демонстрацию</h3>
						<p>Мы с&nbsp;радостью покажем все возможности платформы на&nbsp;онлайн демонстрации или при личной встрече. Спросите нашего представителя и&nbsp;он проведет вас шаг за&nbsp;шагом</p>
					</li>
					<li>
						<h3>Настройте рабочий процесс</h3>
						<p>Наша команда обучит докторов и&nbsp;администраторов работать в&nbsp;системе, предоставит необходимые материалы, а&nbsp;также сопроводит первые 30&nbsp;дней работы</p>
					</li>
					<li>
						<h3>Расскажите своим пациентам</h3>
						<p>Поделитесь информацией о&nbsp;новых возможностях. Мы подготовили необходимые материалы, включая: полиграфию, электронные письма, сообщения для социальных сетей и&nbsp;СМС</p>
					</li>
				</ol>
			</div>
		</div>

		<div id="bl-book">
			<div class="holder">
				<div class="wrapper">
					<h2 class="animated fadeInUpSmall wow">Чего же вы ждете?</h2>
					<div class="text animated fadeInUpSmall wow">
						<p>Оставьте заявку в&nbsp;форме, и&nbsp;мы свяжемся с&nbsp;вами, чтобы договориться об&nbsp;оформлении и&nbsp;бесплатном обучении врачей вашей клиники</p>
					</div>

					<form action="#" method="post">
						<div class="line">
							<input type="text" name="name" maxlength="255" placeholder="Имя">
							<input type="email" name="email" maxlength="255" placeholder="E-mail">
							<input type="tel" name="tel" maxlength="255" placeholder="Телефон" data-multimask="true">
						</div>
						<div class="line">
							<textarea name="text" placeholder="Сообщение"></textarea>						
						</div>
						<div class="law">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</div>
						<div class="btn-line"><input type="submit" name="submit_btn" value="Отправить" class="btn"></div>					
					</form>
				</div>
			</div>
		</div>